.details-section {
  min-height: 90vh;
}

.details-container {
  margin-bottom: 2rem;
  display: flex;
  box-shadow: $primary-shadow;
  border-radius: 0.5rem;

  @media (max-width: $large-breakpoint) {
    flex-direction: column;
  }

  img {
    object-fit: cover;
    width: 39rem;
    height: 30rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    @media (max-width: $xl-breakpoint) {
      width: 32rem;
    }

    @media (max-width: $large-breakpoint) {
      width: 44rem;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0;
    }

    @media (max-width: $mid-breakpoint) {
      width: 100%;
    }
  }

  .details-body {
    padding: 3rem;
    width: 100%;
    background: $lightgrey-color;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @media (max-width: $large-breakpoint) {
      padding: 5rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0.5rem;
    }

    @media (max-width: $mid-breakpoint) {
      padding: 2rem;
    }

    h3 {
      font-weight: 700;
    }

    h3,
    .details-text {
      color: $darkgrey-color;
    }

    .details-text,
    div {
      margin-top: 2rem;
    }

    hr {
      margin: 2rem 0;
      border: 1px solid $white-color !important;
    }

    div {
      height: 2.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .price-text {
      margin: auto 0 !important;
      padding: 0 !important;
      height: 2.5rem;
      font-size: $large-font;
      color: $primary-color;
    }

    .cart-btn {
      margin: 0 !important;
      padding: 0 !important;
      height: 2.5rem !important;
      width: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
